@Html.BkndHeader(new[] { "System", "Permission", "Admin Permissions" }, "cog", backUrl: Url.Action("Index"))

<section class="well">
    @using (Html.BkndBeginForm())
    {
        <div class="form-group">
            <label class="col-md-2 control-label">Parent permission <span class='text-danger'>*</span></label>
            <div class="col-md-6">
                <div class="radio">
                    <label>
                        <input type="radio" class="radiobox style-0" id="noParent" name="IsParentSelected" value="false" checked>
                        <span>No parent (this permission will be at the top level)</span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" class="radiobox style-0" id="parentSelect" name="IsParentSelected" value="true"
                               @(Enumerable.Count(ViewBag.AdminPermissions) == 0 ? "disabled" : "")>
                        <span>Select a parent permission</span>
                    </label>
                </div>
                <div style="padding-top: 15px;">
                    <select id="ParentId" name="ParentId" class="form-control">
                        @foreach (var adminPermission in ViewBag.AdminPermissions)
                        {
                            <option value="@adminPermission.Id" data-name="@adminPermission.Name">
                                @adminPermission.DisplayName
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        @Html.BkndTextBox("Name", label: "System name", required: true, maxlength: 100, note: "<strong>Ex.:</strong> <code>system.permissions.users.create</code>")

        @Html.BkndTextBox("DisplayName", required: true, maxlength: 100)

        @Html.BkndFormButtonSave()
    }
</section>

@section scripts {
    <script>
        $('#ParentId').attr('disabled', true);

        $('#parentSelect, #noParent').change(function () {
            if ($('#parentSelect').is(':checked')) {
                $('#ParentId').removeAttr('disabled');
                $('#Name').val($('#ParentId :selected').attr('data-name') + '.');
            } else {
                $('#ParentId').attr('disabled', true);
            }
        });

        $('#ParentId').change(function () {
            $('#Name').val($('#ParentId :selected').attr('data-name') + '.');
        });
    </script>
}