@model Spinx.Services.AdminUsers.DTOs.ChangePasswordDto

@Html.BkndHeader(new[] { "System", "My Account", "Change Password" }, "user")

<section class="well">
    <div class="tabs-left">
        <ul class="nav nav-tabs" style="min-width: 170px;">
            <li>
                @Html.ActionLink("Edit Profile", "EditProfile", "Account")
            </li>
            <li class="active">
                @Html.ActionLink("Change Password", "ChangePassword", "Account")
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab-r1">

                @using (Html.BkndBeginForm())
                {
                    @Html.BkndLegend("Change Password")

                    @Html.BkndTextBox("CurrentPassword", label: "Old password", maxlength: 20, required: true, type: "password")

                    @Html.BkndTextBox("NewPassword", maxlength: 20, required: true, type: "password")

                    @Html.BkndTextBox("ConfirmPassword", label: "Confirm password", placeholder: "Repeat new password", maxlength: 20, required: true, type: "password")

                    @Html.BkndFormButtonSave()
                }

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>