@model Spinx.Services.AdminUsers.DTOs.EditProfileDto

@Html.BkndHeader(new[] { "System", "My Account", "Edit Profile" }, "user")

<section class="well">
    <div class="tabs-left">
        <ul class="nav nav-tabs" style="min-width: 170px;">
            <li class="active">
                @Html.ActionLink("Edit Profile", "EditProfile", "Account")
            </li>
            <li>
                @Html.ActionLink("Change Password", "ChangePassword", "Account")
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab-r1">

                @using (Html.BkndBeginForm())
                {
                    @Html.BkndLegend("Edit Profile")

                    @Html.BkndTextBox("Name", value: Model.Name, maxlength: 100, required: true)

                    @Html.BkndTextBox("Email", value: Model.Email, placeholder: "Email address", maxlength: 100, required: true, type: "email")

                    @Html.BkndFormButtonSave()
                }

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>